* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  margin: 50px 0;
}

/*  LOCATION COMPONENT */
.location {
  border: 1px solid black;
  padding: 10px;

  h5 {
    font-weight: bold;
  }

  p {
    margin: 0;
    font-style: italic;
  }
}

/* UTC TIME COMPONENT */
.utc-time {
  border: 1px solid black;
  padding: 10px;

  h5 {
    font-weight: bold;
  }

  p {
    margin: 0;
    font-style: italic;
  }
}