* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  padding: 5vh 0;
}

/*  LOCATION COMPONENT */
.location {
  border: 1px solid black;
  padding: 10px;

  h5 {
    font-weight: bold;
  }

  p {
    margin: 0;
    font-style: italic;
  }
}

/* UTC TIME COMPONENT */
.utc-time {
  border: 1px solid black;
  padding: 1vh;

  h5 {
    font-weight: bold;

    span {
      font-weight: 500;
    }
  }

  p {
    margin: 0;
    font-style: italic;
  }
}

/* MAP COMPONENTS */
.map {
  border: 1px solid black;

  .mark {
    background-color: black;
    width: 5vh;
    color: #fff;
    font-weight: bold;
    border: 2px solid red;
  }
}

/* PEOPLE COMPONENT */

.people {
  border: 1px solid black;

  ul {
    list-style: none;
    padding: 1vh;

    li {
      border: 1px solid black;  
      border-radius: 5px;
      padding: 1vh;
      margin: 1vh 0;
      cursor: pointer;

      img {
        width: 5vh;
        margin-right: 2vh;
      }
    }
  }

  .countPeople {
    border-top: 1px solid black;
    padding: 1vh;
    font-style: italic;
    padding-bottom: 0;

    span {
      font-weight: bold;
    }
  }
}